.homepage_first_row {
    background-image: url('images/homepage/homepage_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120%;
    /*height:10em;*/
}

img.main_logo {
    width: 115px;
    height: 89px;
}

.button_homepage_shopping {
    width: 88px;
    height: 36px;
    background-color: #46becc;
    color: white;
    font-size: 14px;
}

.button_homepage_shopnow {
    width: 131px;
    height: 34px;
    background-color: #46becc;
    color: white;
    margin-top: 1.5em;
    cursor: pointer;
}

.button_hompge_md2 {
    margin-left: 1.3em;
}

span.hompag_shopnow_content {
    font-size: 14px;
    position: relative;
    left: 1em;
    top: 5px;
}

img.homepage_icon_shopnow {
    position: relative;
    left: 1em;
    top: 4px;
}

span.menu_homepage {
    font-size: 14px;
    color: #c9c9c9;
}

span.menu_homepage:hover {
    color: #494949;
}

span.active_menu {
    color: #494949;
}

a.source_semibold.active_menu{
    color:#363636;
}

img.homepage_icon_cart {
    position: relative;
    left: 1em;
    top: 5px;
}

span.hompag_cart_content {
    font-size: 14px;
    position: relative;
    left: 1em;
    top: 7px;
}

.navbar-nav>li>a {
    padding-top: 0;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: transparent;
}

.main_header_homepgae {
    margin-top: 2em;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    height: 1em;
    top: 74%;
}

.carousel-control .icon-prev {
    left: 30%;
    top: 81%;
    height: 1em;
    font-size: 3.5em;
    color: #46becc;
}

.carousel-control .icon-next {
    right: 37%;
    top: 80%;
    font-size: 3.5em;
    color: #46becc;
}

.homapge_first_slider {
    margin-top: 4.5em;
}

.carousel-inner {
    min-height: 29em;
}

.homepage_slider_inner_content {
    position: relative;
    top: 5em;
    color: #aaaaaa;
}

p.homepage_overly_content {
    font-size: 14px;
    color: #c2c2c2;
}

p.homepage_overlay_cont1
{
    font-size: 14px;
}

.hompage_second_row_overlay {
    color: #c2c2c2;
    position: absolute;
    top: 100%;
}

.hompage_second_row_overlay1 {
    position: relative;
    left: 3.3em;
}

.homepage_first_ovrlay_image {
    margin-left: -.8%;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    margin: 3px;
    background-color: #46becc;
}

.carousel-indicators .active {
    background: #46becc;
    border-color: #46becc;
}

.homepage_overlaty_content {
    margin-top: 17.6em;
    margin-left: 3.5%;
    font-size: 14px;
}


/*----------------------------------second row-----------------------------------*/

.homepage_second_row {
    background-color: black;
    color: white;
}

.hompage_second_row_overlay {
    background-color: rgba(0, 0, 0, 0.26);
    margin-top: -1em;
}

.homepag_scndrow_content {
    background-color: #46becc;
    width: 100.06%;
    height: 103px;
    padding-top: 1.3em;
    border: 1px solid #4599a6;
}

p.homepag_scndrow_image_icon_content {
    font-size: 14px;
    margin-top: 6px;
}

.homepage_scnd_row_column {
    margin-top: 2em;
    margin-left: -1.1em;
}

.homepag_scndrow_content_frstlast {
    background-color: #46becc;
    width: 100%;
    height: 104px;
    padding-top: 1.3em;
    border: 1px solid #4599a6;
}

.homepage_ovrly_rit {
    text-align: right;
}

.hompage_scndrow_imag1_column {
    /*min-width: 14em;*/
    position: relative;
    left: 5.55em;
}

.hompage_scndrow_imag2_column {
    position: relative;
    left: 3.56em;
}

.hompage_scndrow_imag3_column {
    position: relative;
    left: 1.57em;
}

.hompage_scndrow_imag4_column {
    position: relative;
    right: 0.44em;
}

.hompage_scndrow_imag5_column {
    position: relative;
    right: 2.43em;
}

.hompage_scndrow_imag6_column {
    position: relative;
    /*top: -2px;*/
    right: 4.42em;
}

.homapge_second_slider {
    margin-top: 1em;
}

.homepage_button_cart_position {
    margin-left: -1.9em;
    margin-top: -.5%;
}

img.homepage_snd_row_al_imges{
    width: 100%;
}

img.homepage_snd_row_frst_imges{
    /* margin-top: 2px; */
    width: 100.06%;
}


/*----------------------------third row----------------------*/
p.homepag_main_hd{
    font-size: 48px;
    color: #aaaaaa;
}
p.homepag_main_inner1{
    font-size: 14px;
     color: #aaaaaa;
     margin-top: -6px;
     line-height: 21px;
}
.homepage_thrd_row_bottom {
    border-bottom: 1px solid #343131;
    margin-top: 2em;
    margin-left: -7px;
}

.carousel-inner.carosel_innner_bottom_homepage {
    min-height: 24em;
}

p.carosel_innner_bottom_homepage_content {
    font-size: 14px;
    color: #1f1f1f;
    position: absolute;
    top: -2em;
    padding: 3.2em;
    line-height: 21px;
    /* margin-left: 0em; */
}

.inner_carosel_scnd_row_content {
    font-size: 30px;
    color: #c2c2c2;
    margin-left: 2.2%;
}

.homepage_third_row_cont {
    margin-top: 2.5%;
    margin-left: -.25%;
}
/*
.overlay {
    position: absolute;
    width: 85%;
    height: 100%;
    top: 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}*/

.overlay1 {
    position: absolute;
    width: 86.2%;
    height: 100%;
    top: 0;
    /*left: 0;*/
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

/*.hompag_scnd_slide_overlay:hover > .overlay {
    opacity: 1;
    width: 85%;
    display: block;
  
    background: rgba(42, 41, 39, 0.44);
}
*/
.hompag_scnd_slide_overlay:hover > .overlay1 {
    opacity: 1;
    width: 86.2%;
    display: block;
    /*margin-left: 17px;*/
    background: rgba(42, 41, 39, 0.44);
}

ol.hompage_scnd_carousl {
    position: relative;
    top: 24em;
}

.overlay_content:hover> .overlay_content2 {
    -webkit-filter: invert(0);
    filter: invert(0);
    transition: 1s;
}

.overlay_content2 {
    -webkit-filter: invert(.9);
    filter: invert(.9);
    }

.overlay_content:hover> .overlay_content1 {
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: url(#greyscale);
    filter: gray;
    transition: 1s;
}




.overlay_content1 {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
}
/*---------------------------------footer--------------------------------------------*/

.footer_border {
    border-bottom: 1px solid #343131;
}

.homepage_footer_row {
    margin-top: 1.3em;
}

.homepage_footer_content {
    font-size: 14px;
    margin-left: 9%;
    color: #c2c2c2;
}

.google_icon {
    margin-left: 1.2em;
    top: -1px;
}

.rss_icon {
    position: relative;
    top: -1px;
}

.social {
    position: relative;
    left: 3%;
}


/*------------------------------about page----------------------------------------*/

.about_main_page {
    background-color: black;
}

.about_breaadcrumb_main {
    background-color: #161616;
}

img.inner_logo {
    width: 58px;
    height: 60px;
    margin-top: -5.3%;
}

.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: ">";
    /*padding: 0 5px;*/
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 1px;
    padding: 2px 15px;
}

.about_breadcrumb_font {
    font-size: 12px;
    color: #c9c9c9;
}

.breadcrumb li a {
    color: #c9c9c9;
}

.breadcrumb>.active >a{
    color: #494949;
}
a:hover, a:focus{
    text-decoration: none;

}

.about_us_slider_fullpage {
    background: black;
}
p.about_slider_inner1{
    font-size: 16px;
    color:white;
   
}

p.about_slider_inner1_1{
     font-size: 16px;
    color:white;
    height: 13em;
    overflow-y: scroll;
}

p.about_slide_headr{
    font-size: 36px;
    color:white;
}
.about_us_para2{
    position: relative;
    left: 1.2em;
    padding-top: 3em;
}
.aboutus_frst_slider {
    background-image: url("images/about/about_bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 1.3em;
}

p.about_secnd_row_cont {
    font-size: 35px;
    color: #494949;
}

p.about_left_main_content {
    color: white;
    font-size: 18px;
    margin-top: 4%;
}

p.about_left_inner_content {
    color: #4a4a4a;
    font-size: 18px;
    line-height: 24px;
}

.about_scnd_row_both_column {
    margin-top: 2%;
    margin-bottom: 8%;
}

.about_rit_border {
    border-left: 2px solid #161616;
    position: relative;
    left: -8em;
}

.about_rit_border_content {
    position: relative;
    left: 5.5em;
}

.about_slider_below_cont {
    margin-top: 2.5%;
}

.about_scnd_rit {
    padding: 5em 3em;
    color: white;
    word-spacing: 2px;
}


/*---------------------------------login page---------------------------------------*/

.login_background_box {
    width: 100%;
    height: 377px;
    margin-top: 17%;
}

.login_full_page {
    background-color: rgba(0, 0, 0, 0.36);
    overflow: auto;
    min-height: 100%;
}

img.login_logo_inner {
    position: absolute;
    left: 45%;
    top: 11%;
}

img.login_logo_inner_main1{
     position: absolute;
     left: 45%;
    top:28%;

}
.login_inner_full_page {
    position: absolute;
    top: 51%;
    left: 8%;
}

input.login_email_id {
    width: 100%;
    outline: none;
    text-indent: 8px;
}

input.login_password {
    width: 100%;
    margin-top: 3em;
    outline: none;
    text-indent: 8px;
}

td.login_pwd_cont {
    /*margin-top: 4em;*/
    position: relative;
    top: 1.6em;
}

span.login_btn {
    position: relative;
    left: 1.1em;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
}

a.login_frgt_pwd {
    margin-left: 30.5%;
    /* margin-top: 7%; */
    position: relative;
    top: 1em;
    color: #d45e9d;
    cursor: pointer;
}

a.login_frgt_pwd:hover {
    text-decoration: none;
    color: #f50485;
}

table.login_tbl {
    font-size: 14px;
    color: #848484;
}

.login_button_form {
    margin-bottom: 1em;
    margin-top: 1em;
}

.login_cross_img {
    position: absolute;
    top: 26%;
    right: 2.5%;
    cursor: pointer;
}


/*-------------------------------SURVEY--------------------------------------------*/

.survey_full_box {
    border: 1px solid black;
    min-height: 20em;
}

.survey_btn_form {
    margin-bottom: 1em;
}

span.survey_rit_submit {
    position: relative;
    left: 0.8em;
    top: 5px;
    font-size: 18px;
}


/*-----------------------------radio button for survey----------------------------*/

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: #414141;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"] + label span {
    /*background-color: gray;*/
    border: 1px solid #bdbdbd;
    position: relative;
    left: -1em;
}

input[type="radio"]:checked + label span {
    background-color: #22aae2;
    border-color: transparent;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.survey_box_log {
    position: relative;
    top: 7em;
}

.button_survey_staypage {
    width: 208px;
    height: 36px;
    background-color: #46becc;
    color: white;
    font-size: 14px;
    margin-right: 1.5em;
}

.survey_butn {
    position: relative;
    top: 2.5em;
}

span.survey_stay_btn {
    position: relative;
    left: 1.8em;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
}

.survey_radio_btn {
    position: relative;
    top: 12px;
}

.survey_cros_icon {
    position: relative;
    left: 2.5em;
    top: 5px;
    cursor: pointer;
}


/*-------------------------------compare table--------------------------------*/


.comapre_tabl_full_tabl_pag {
    background-color: black;
    color: #e6e6e6;
}

td.comar_column_frst {
    padding: 1.8em 1.3em 1em 3.5em;
    margin-top: 3%;
}

td.compar_row_frst {
    padding: 7.1em 4.3em 2em 3.5em;
    position: relative;
    top: -0.7em;
    font-size: 18px;
    color: #e6e6e6;
}

img.compare_tbl_cross {
    width: 20px;
    position: relative;
    left: -1em;
    top: 1em;
}

.compare_prodct_tabl_img {
    /*position: relative;
    margin-left: 18%;
    margin-top: 12%;*/
    padding: 2em 3em;
}

span.compare_tbl_product_cont {
    position: relative;
    left: 7px;
    top: 6px;
}

p.compare_stun_gun_cont {
    margin-left: 17%;
    /* position: relative; */
    /* top: -2em; */
    margin-top: 3.7%;
}

p.compare_dimensions_cont {
    margin-top: 1%;
    font-size: 18px;
}

p.comapre_dimension_pro {
    padding: .99em 0px;
    position: relative;
    top: 12px;
}

img.compare_dvc_img {
    position: relative;
    left: 1em;
}

.comapre_tabl_full_tabl_pag1 {
    margin-top: 2em;
}

table.compare_main_tbl {
    margin-bottom: 9%;
}

textarea.contact_textarea {
    resize: none;
    outline: none;
    margin-top: 4%;
    /*margin-left: 3px;*/
    width: 100%;
    background: #ededed;
    border-color: transparent;
}

input.form-control.source_it {
    background: #ededed;
    position: relative;
    top: .99px;
    border: none;
    border-radius: 1px;
    height: 2.3em;
}


/*-----------------------------------------contact details--------------------------------------*/

.contact_main_page {
    background-color: black;
}

.contact_rit_cont {
    background-image: url('images/contact/contact_bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 436px height: 426px;
    position: relative;
    left: -1em;
     padding: 8.22em 1em;
}



p.contact_right_inner_cont {
    font-size: 18px;
    color: white;
}

h3.contact_right_head {
    color: white;
}

.contact_main_page2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.conatct_scnd_row_left {
    text-align: right;
    font-size: 18px;
    color: #a7a7a7;
}

p.conatct_scnd_row_left1 {
    margin-bottom: 1.3em;
    font-size: 18px;
}

.conatct_mail_box {
    width: 100%;
    height: 290px;
    background-color: white;
    border: 1px solid white;
    padding: 0em 2em;
    position: relative;
    right: 2.08em;
}

span#basic-addon1 {
    border-radius: 1px;
    background: #606060;
    /*position: relative;*/
    font-size: 1.6em;
    padding: 0px 10px;
    color: white;
    /*top: 0px;*/
}

h3.contact_rit_enquire {
    color: #c2c2c2;
}

.button_contact_page {
    width: 118px;
    height: 36px;
    background-color: #46becc;
    color: white;
    /*font-size: 14px;*/
    margin-top: 1em;
}

span.conatct_btn_content {
    color: white;
    font-size: 18px;
    position: relative;
    left: 1.3em;
    top: 5px;
}

.contact_rit_border {
    border-right: 1px solid #606060;
    padding-bottom: 5em;
}

.conatct_main_scnd_rw {
    margin-bottom: 3em;
}

p.contact_rit_mail {
    color: #a7a7a7;
    font-size: 18px;
}

img.contact_lft_icon {
    margin-left: 17%;
}

input[type=text]:focus{
    font-family: source_regular;
    color: black;

}
/*img.uncoloured1 {
    opacity: 0;
    margin-left: -2em;
}*/

img.uncoloured2 {
    opacity: 1;
    margin-left: -2em;
}

img.coloured2{
    opacity: 0;
}

img.uncoloured3 {
    opacity: 0;
    margin-left: -2em;
}


/*--------------------------------------------------------------faq----------------------------------------*/

.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
    width: 200px;
    font-weight: bold;
}

.mega-dropdown {
    position: static !important;
    width: 100%;
}

.mega-dropdown-menu {
    padding: 1em 0px;
    width: 93.4%;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #606060;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.faq_para_inner2{
    line-height: 22px;
}

/*-------------------------------------product page-------------------------*/

.product_full_page {
    background: black;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.collapse.navbar-collapse.js-navbar-collapse {
    width: 65%;
    margin: 0 auto;
    margin-top: 1%;
}

.mega_dropdown1:before {
    left: 18em;
}

.mega_dropdown1:after {
    left: 17.85em;
}

.mega_dropdown2:before {
    left: 28em;
}

.mega_dropdown2:after {
    left: 27.85em;
}

.mega_dropdown3:before {
    left: 37em;
}

.mega_dropdown3:after {
    left: 36.85em;
}

.mega_dropdown4:before {
    left: 45.5em;
}

.mega_dropdown4:after {
    left: 45.4em;
}

.mega_dropdown5:before {
    left: 52.5em;
}

.mega_dropdown5:after {
    left: 52.4em;
}

.mega_dropdown6:before {
    left: 61.5em;
}

.mega_dropdown6:after {
    left: 61.4em;
}

.navbar-nav>li>.dropdown-menu {
    margin-left: 3em;
}

p.product_service_mgamenu_cont {
    font-size: 14px;
}

p.product_mega_menu_img_cont {
    margin-left: 1.5em;
    margin-top: 9px;
}

.product_mga_border {
    border-right: 2px solid #ededed;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
    color: #494949;
}

.product_slider {
    position: relative;
    top: -3em;
}

.navbar-nav>li>a {
    color: #c9c9c9;
}

.product_scnd_row_imag {
    margin-top: 10%;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
}

::-webkit-scrollbar-thumb {
    /*-webkit-box-shadow: inset 0 0 6px black;*/
    background: #666;
}


.product_scnd_row_product_info {
    margin-top: 3%;
    height: 29em;
    overflow-y: scroll;
}

p.product_scnd_row_product {
    margin-bottom: 19%;
    font-size: 14px;
    color: #a7a7a7;
}

.product_imga_content {
    color: #a7a7a7;
    margin-top: 2%;
}

span.product_shopnow_butn {
    font-size: 14px;
    position: relative;
    left: 2.1em;
    top: 6px;
}


/*--------------------checkbox----------------------*/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    color: #9b9b9b;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 10%;
}

input[type="checkbox"] + label span {
    /*background-color: gray;*/
    border: 1px solid #bdbdbd;
    position: relative;
    left: -1em;
}

input[type="checkbox"]:checked + label span {
    background-color: white;
    border-color: transparent;
}

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}


/*--------------------------end chech box---------------------*/

.slider_down {
    background-color: #0f0e0c;
    padding: 1.6em;
}

.product_chchkbox1 {
    margin-left: 15%;
    margin-top: -4%;
    font-size: 12px;
}

.product_chchkbox2 {
    /*margin-left: 15%;*/
    margin-top: -4%;
    font-size: 12px;
}

span.slider_down_features {
    font-size: 14px;
    color: #c9c9c9;
    position: relative;
    top: -2px;
}

.slider_down_rit_side {
    margin-top: -8px;
    position: relative;
    left: 4em;
}


/*--------------------------price slider-------------------------*/

.ui-slider-horizontal {
    height: 0.6em;
}

div#slider-3 {
    width: 58%;
    float: right;
    margin-top: -6%;
}

.slider_down_lft_side {
    margin-top: -13px;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background: rgba(0, 0, 0, 0.9);
}

label.price_slidr_contnt_prodct {
    margin-left: 5%;
    color: #c9c9c9;
}


/*------------------------on-off indicator--------------*/
input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 21px;
  width: 50px;
  border-radius: 15px;
}

input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 21px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 19px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
input#toggle:checked + label:before {
  width: 50px;
  background: rgba(70, 190, 204, 1);
}

input#toggle:checked + label:after {
  left: 31px;
  box-shadow: inset 0 0 0 1px rgba(70, 190, 204, 1), 0 2px 4px rgba(0, 0, 0, .2);
}



/*----------------------SHOP full page--------------------------------*/

.shop_full_page{
    background: #161616;
}

p.shop_frstpg_inner1{color:#4a4a4a;font-size: 18px;margin-top:5%;margin-left: 3%;}

p.shop_frstpg_inner2{color:#b4b4b4;font-size: 18px;margin-left: 3%;}
.shop_frst_imag{
        border-bottom: 1px solid black;
        width:100%;
}
.shop_prodct_cont_page{
        margin-top: 5%;
}

.overlay_shop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*left: 0;*/
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    padding: 5.5em 0em 2em 4em;
}

.shop_frst_imag:hover > .overlay_shop{
    opacity: 1;
    height: 14.5em;
    width: 85%;
    top: -4.15em;
    display: block;
    /*margin-left: 17px;*/
    background: rgba(1, 1, 1, 0.22);
}


.shop_frst_ima:hover > .overlay_shop{
    opacity: 1;
    height: 14.5em;
    width: 85%;
    top: -4.15em;
    display: block;
    /*margin-left: 17px;*/
    background: rgba(1, 1, 1, 0.22);
}


span.product_ovrlay_cart
{
    position: relative;
    left: -1em;
}

/*--------------------vertical slider---------------------*/



/*.carousel-control-ver {
    
    filter: alpha(opacity=50);
}*/

/* --------- END --------- */

.carousel {
    height:100%;
    margin-bottom: 0;
    /*padding: 50px 40px 50px 0px;*/
}

/*.carousel-control-ver {
    left: 107px;
}
.carousel-control-ver.right {
    right: -5px;
    top:79%!important;
}*/



/*For top Indicator*/

.carousel-indicators-top {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

.carousel-indicators-top li {
    background: #333333;
}

.carousel-indicators-top .active {
    background: #333333;
}
 
 /* vertical start*/

.vertical .carousel-inner {
    /*height: 74%;*/
    padding-top:0px;
}

.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 100%;
}

.carousel.vertical .prev {
    top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -100%;
}

.carousel.vertical .active.right {
    top: 100%;
}

.carousel.vertical .item {
    left: 0;
}

/*Overwriten Bootstrap Classis*/
.small-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 1px;
  line-height: 1.428571429;
  /*background-color: #ffffff;*/
  /*border: 1px solid #dddddd;*/
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.custom-carousel-inner{
    overflow: hidden;
    position: relative;
    /*width: 53px !important;*/
    height:158px;
}
.single-container{
    margin-top: 50px;
    width: 75%;
}

.single-container img{
    width: 92.5%;
    margin-left: 12px;
}

img.product_up{
        transform: rotate(-90deg);
}

span.product_ver_slider_cont{
    text-decoration: none;
    color: #e6e6e6;
    position: relative;
    top: 1em;
}

table a:not(.btn), .table a:not(.btn){
    text-decoration: none;
}

.item tr{
    
    border-bottom: 2px solid #161616;
}
 .product_span{
    padding: 3em 0px;
 }
.item tr:nth-child(4n){
    border-bottom-color: transparent;
}

img.product_down{
    transform: rotate(90deg);
}
a.right.carousel-control-ver{
        margin-left: 33%;
}

a.left.carousel-control-ver{
     margin-left: 33%;
}

.product_certical_slider{
        border-left: 2px solid #161616;
        margin-top:2%;
}
.button_faq_comparelist{
     width: 215px;
    height: 36px;
    background-color: #46becc;
    color: white;
    font-size: 14px;
        margin-top: 2.5%;
    margin-right: 3.5%;
    cursor:pointer;
}

h4.faq_hd{
    color:#c2c2c2;
}

p.faq_ineer_cont{
    color:#4f4f4f;
}

.faq_content{
    color:#a7a7a7;
    font-size: 16px;
    border-bottom: 1px solid #161616;
    margin-bottom: 6px;
}

.faq_conten{
     color:#a7a7a7;
    font-size: 16px;
    margin-bottom: 2em;
}

p.faq_inner1{
    font-size:18px;
}


/*---------------------------faq toggle box---------------------*/

  .slide-out-div {
          padding: 0;
          width: 250px;
          background: #ccc;
          border: #29216d 1px solid;
          display: none;
      }     

      .slide-out-div{
        top:37em !important;
      }

.faq_slide_out_header{
    /* border: 1px solid red; */
    padding: 13px 4px 3px 4px;
    background: white;
    font-size: 14px;
    color: #868686;
}
.slide-out-div.open{
    padding: 0;
    height: 372px;
}
.product_section{
    display: none;
}
.active_product{
    display: block;
}

img.product_box_slide_out{
    width: 111px;
    height: 48px;
}

.product_box{
    padding: 0em 2em 2em 4em;
        height: 19em;
    overflow: auto;
}

.product_box_1, .product_box_2, .product_box_3, .product_box_4, .product_box_5, .product_box_6, .product_box_7
, .product_box_8, .product_box_9, .product_box_10, .product_box_11, .product_box_12{
       border:1px solid #998989;
    background: white;
    margin-top: 29px;
    margin-bottom: 21px;
    padding: 1em;
}

p.product_box_elemnt1{
    color: #989797;
    font-size: 18px;
    margin-left: 6px;
        position: relative;
    top: 5px;
}
.product_box_footer{
   padding: 7px 12px 14px 4.3em;
   background: white;
   font-size: 14px;
   color: #868686;
   width: 248px;
   height: 48px;
   /*background-color: #46becc;*/
   color: white;
   /*font-size: 14px;*/
   margin-top: -4.5%;
   /*margin-right: 3.5%;*/
   cursor:pointer;
}

.product_box_1, .product_box_2, .product_box_3, .product_box_4, .product_box_5, .product_box_6, .product_box_7
, .product_box_8, .product_box_9, .product_box_10, .product_box_11, .product_box_12{
    display: none;
    width: 158px;
    height: 103px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
    top:3.4em;
}

.survey_main_box
{
       display: none;
    background: white;
    margin-left: 5%;
    top: 0;
    position: fixed;
}
.button_faq_compare_page{
width: 162px;
    height: 36px;
    background-color: #46becc;
    color: white;
    font-size: 14px;
}

span.faq_comapr_now_butn.source_bold {
    margin-left: 2em;
    position: relative;
    top: 11px;
    }

    img.slide_out_product1, img.slide_out_product2, img.slide_out_product3, img.slide_out_product4, 
    img.slide_out_product5, img.slide_out_product6, img.slide_out_product7, img.slide_out_product8,
    img.slide_out_product9, img.slide_out_product10, img.slide_out_product11, img.slide_out_product12{
        width: 15px;
    height: 15px;
    position: relative;
    left: 8em;
    top: -6em;
    cursor: pointer;
    }

img.shop_imgae_width{
    width: 100%;
}
 /*  a.handle{
        background: url('images/shop/next.png') no-repeat !important;
        background-color: red !important;
            width: 41px !important;
    height: 40px !important;
       

    }*/

  

/* Extra Small Devices, Phones */

@media only screen and (max-width: 1090px) {

     span.menu_homepage{
            font-size: 10px;
        }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {

span.menu_homepage{
    font-size: 13px;
}
}

@media only screen and (max-width: 1320px) {

.collapse.navbar-collapse.js-navbar-collapse{
    font-size: 13px;
}
.mega_dropdown2:before {
    left: 26em;
}
.mega_dropdown2:after {
    left: 25.9em;
}
.mega_dropdown3:before {
    left: 33.5em;
}
.mega_dropdown3:after {
    left: 33.4em;
}
.mega_dropdown4:before {
    left: 41em;
}
.mega_dropdown4:after {
    left: 40.9em;
}
.mega_dropdown5:before {
    left: 47.5em;
}
.mega_dropdown5:after {
    left: 47.4em;
}
.mega_dropdown6:before {
    left: 55.5em;
}
.mega_dropdown6:after {
    left: 55.4em;
}
}

  @media only screen and (max-width: 1250px) {
        span.menu_homepage{
            font-size: 12px;
        }

        .homepage_ovrly_rit{
            left: 2em;
        }
        p.carosel_innner_bottom_homepage_content{
            font-size: 11px;
        }
        .hompag_scnd_slide_overlay:hover > .overlay1{
            width: 83.8%;
        }
        .homepage_overlaty_content{
            margin-top: 10.6em;
        }
        .button_hompge_md2{
            margin-left: 0.5em;
        }
        .navbar-nav>li>a{
            font-size: 11px;
        }
        .mega_dropdown6:before {
    left: 48.5em;
}

.mega_dropdown6:after {
    left: 48.4em;
}

.mega_dropdown5:before{
    left: 42.5em;
    }

    .mega_dropdown5:after{
    left: 42.4em;
    }
    .mega_dropdown4:before {
    left: 36em;
}
.mega_dropdown4:after {
    left: 35.9em;
}
.mega_dropdown3:before {
    left: 29em;
}
.mega_dropdown3:after {
    left: 28.9em;
}
.mega_dropdown2:before {
    left: 22.5em;
}
.mega_dropdown2:after {
    left: 22.4em;
}
.mega_dropdown1:before {
    left: 15em;
}
.mega_dropdown1:after {
    left: 14.9em;
}
}
